* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: space-between;
  background-color: green;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  width: 55vh;
  background-color: #f4f4f4;
  margin-top: 3vh;
  border-radius: 15px;
  padding-left: 7%;
  padding-right: 7%;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.suit,
.center {
  font-size: 150px;
}
.inferior {
  rotate: 180deg;
}

.cardChanger {
  width: 20vh;
  height: 5vh;
  border-radius: 10px;
}
